compose/cbte/cert
compose/cbte/.env
compose/cbte/docker-compose.yml
compose/cbte/nginx/ssl
k8s/cbte/values.yaml


k8s/cbte/crossSsl/
k8s/cbte/ingressSsl/
k8s/cbte/secretSsl/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
cloudbeaver.locations