apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ .Release.Name }}-crossservice-ssl
  namespace: default
data:
  tls.crt: |-
        {{- $chainCertPath := print ( .Values.crossServiceCertPath ) "/cert.crt" }}
        {{ .Files.Get  $chainCertPath | b64enc }}
  tls.key: |-
        {{- $keyCertPath := print ( .Values.crossServiceCertPath ) "/key.key" }}
        {{ .Files.Get $keyCertPath | b64enc }}