---
{{- if eq .Values.ingressController "nginx" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-{{ .Release.Name }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    {{- if eq "https" .Values.httpScheme }}
    ingress.kubernetes.io/ssl-redirect: "true"
    {{- end }}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1$2"
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/affinity-mode: "persistent"
    nginx.ingress.kubernetes.io/session-cookie-name: "cb-node-id"
    nginx.ingress.kubernetes.io/session-cookie-path: "/"
    nginx.ingress.kubernetes.io/session-cookie-domain: "{{ .Values.cloudbeaverBaseDomain }}"
    nginx.ingress.kubernetes.io/session-cookie-change-on-failure: "true"
    nginx.ingress.kubernetes.io/session-cookie-secure: "true"
    nginx.ingress.kubernetes.io/session-cookie-max-age: "345600"
    nginx.ingress.kubernetes.io/proxy-body-size: "500m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"    
    # nginx.ingress.kubernetes.io/use-regex: true
spec:
{{- if eq "https" .Values.httpScheme }}
  tls:
    - hosts:
      - {{ .Values.cloudbeaverBaseDomain }}
      secretName: {{ .Release.Name }}-ingress-tls
{{- end }}
  rules:
  - host: "{{ .Values.cloudbeaverBaseDomain }}"
    http:
      paths:
        - path: /(.*)(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name: cloudbeaver-te
              port:
                number: 8978
        - path: /(dc/|dc$)(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name: cloudbeaver-dc
              port:
                number: 8970
        - path: /(rm/|rm$)(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name: cloudbeaver-rm
              port:
                number: 8971
        - path: /(qm/|qm$)(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name: cloudbeaver-qm
              port:
                number: 8972
        - path: /(tm/|tm$)(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name: cloudbeaver-tm
              port:
                number: 8973
{{ end }}