ssl_certificate /etc/nginx/ssl/live/databases.team/fullchain.pem;
ssl_certificate_key /etc/nginx/ssl/live/databases.team/privkey.pem;

server {
    listen 80;
    listen [::]:80;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name $CLOUDBEAVER_DOMAIN;
    
    include /etc/nginx/conf.d/dbeaver-te.locations;
}