# Default values for cloudbeaver-te.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# cloudbeaver general values for all TE services
cloudbeaver:
  imageTag: "25.3.0"
  pullPolicy: Always
  # pullCredsName - name of a secret config map that contains docker repo auths
  # pullCredsName: regcred

# Ingress Values
# Supported ingress controllers: aws-alb, nginx, haproxy
ingressController: nginx
# Domain name for ingress endpoint
cloudbeaverBaseDomain: "cloudbeaver.local"
# LoadBallancer secure mode. Possible values - http, https
httpScheme: http
# If httpScheme is https.
# Domain certificates must be presented in root folder of chart with names:
httpsCertPath: "ingressSsl"
# certificate: <httpsCertPath>/fullchain.pem
# certificate key: <httpsCertPath>/privkey.pem
# If you keep certificate in AWS Certificate Manager and use aws-alb set your certificate ARN
# Domain certificates must equal cloudbeaverBaseDomain
certificateARN: ""


crossServiceCertPath: "crossSsl"
secretCertPath: "secretSsl"
# Service depend values
cloudbeaverTE:
  replicaCount: 1
  image: dbeaver/cloudbeaver-te
cloudbeaverDC:
  replicaCount: 1
  image: dbeaver/cloudbeaver-dc
cloudbeaverRM:
  replicaCount: 1
  image: dbeaver/cloudbeaver-rm
cloudbeaverQM:
  replicaCount: 1
  image: dbeaver/cloudbeaver-qm
cloudbeaverTM:
  replicaCount: 1
  image: dbeaver/cloudbeaver-tm  
kafka:
  image: "dbeaver/cloudbeaver-kafka:3.9"
postgres:
  image: "dbeaver/cloudbeaver-postgres:13"

# Cloud storage configuration 
# By default is None, it means not cloud deployment
# AWS - type: efs storageClassName: efs-sc
# GCP - type: filestore storageClassName: filestore-sc
# Azure -type: azurefile storageClassName: azurefile
cloudProvider: None  # Options: None, aws, gcp, azure
storage:
  type: efs
  storageClassName: "efs-sc"
  efs:
    fileSystemId: ""

backend:
  internal_db: true
  cloudbeaver_db_driver: postgres-jdbc
  cloudbeaver_db_url: jdbc:postgresql://postgres:5432/cloudbeaver
  cloudbeaver_db_user: postgres
  cloudbeaver_db_password: StR0NgP2sSw0rD
