apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cloudbeaver-qm
  name: cloudbeaver-qm
spec:
  replicas: {{ .Values.cloudbeaverQM.replicaCount }}
  selector:
    matchLabels:
      app: cloudbeaver-qm
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        date: "{{ now | unixEpoch }}"
        {{ .Release.Name }}-net: "true"
        {{ .Release.Name }}-private-net: "true"
        app: cloudbeaver-qm
    spec:
      securityContext:
          runAsUser: 8978
          runAsGroup: 8978
          fsGroup: 8978
          runAsNonRoot: true
          fsGroupChangePolicy: "OnRootMismatch"
      containers:
        - image: "{{ .Values.cloudbeaverQM.image }}:{{ .Values.cloudbeaver.imageTag | default .Chart.AppVersion }}"
          imagePullPolicy: "{{ .Values.cloudbeaver.pullPolicy }}"
          name: cloudbeaver-qm
          env:
            - name: CLOUDBEAVER_DC_SERVER_URL
              value: "http://cloudbeaver-dc:8970/dc"
          ports:
            - containerPort: 8972
          resources: {}
          volumeMounts:
            - name: cross-ssl-cert
              mountPath: /opt/query-manager/conf/certificates
      {{- if .Values.cloudbeaver.pullCredsName }}
      imagePullSecrets:
        - name: {{ .Values.cloudbeaver.pullCredsName }}
      {{- end }}
      hostname: cloudbeaver-qm
      restartPolicy: Always
      volumes:
        - name: cross-ssl-cert
          secret:
            secretName: {{ .Release.Name }}-crossservice-ssl
            items:
              - key: tls.crt
                path: dc-cert.crt