apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kafka
  name: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ .Release.Name }}-net: "true"
        app: kafka
    spec:
      containers:
        - image:  "{{ .Values.kafka.image | default "dbeaver/cloudbeaver-kafka:3.9" }}"
          imagePullPolicy: "IfNotPresent"
          name: kafka
          ports:
            - containerPort: 9092
          resources: {}
      hostname: kafka
      restartPolicy: Always
status: {}
