version: '3'
volumes:
  metadata_data: {}
  dc_data: {}
  rm_data: {}
  tm_data: {}
  nginx_ssl_data: {}
  nginx_conf_data: {}
  trusted_cacerts: {}
  api_tokens: {}
  cert_private: {}
  cert_public: {}
networks:
  cloudbeaver-te-private-net: null
services:
  web-proxy:
    restart: unless-stopped
    image: ${IMAGE_SOURCE:-dbeaver}/cloudbeaver-${PROXY_TYPE:-nginx}:${CLOUDBEAVER_VERSION_TAG}
    network_mode: host
    environment:
      - PRODUCT_TYPE=te
      - NETWORK_MODE=host
      - LISTEN_PORT_HTTP=80
      - LISTEN_PORT_HTTPS=443
      - CLOUDBEAVER_WEB_SERVER_PORT=${CLOUDBEAVER_WEB_SERVER_PORT:-8978}
    volumes:
      - nginx_conf_data:/etc/${PROXY_TYPE:-nginx}/product-conf/
      - nginx_ssl_data:/etc/${PROXY_TYPE:-nginx}/ssl/
    depends_on:
      - cloudbeaver-te
      - cloudbeaver-dc
      - cloudbeaver-rm
      - cloudbeaver-qm
      - cloudbeaver-tm
  kafka:
    restart: unless-stopped
    image: ${IMAGE_SOURCE:-dbeaver}/cloudbeaver-kafka:3.9
    network_mode: host
    environment:
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@127.0.0.1:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://127.0.0.1:9092,CONTROLLER://127.0.0.1:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092

  postgres:
    restart: unless-stopped
    image: ${IMAGE_SOURCE:-dbeaver}/cloudbeaver-postgres:14
    volumes:
      - metadata_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=cloudbeaver
      - POSTGRES_USER=${CLOUDBEAVER_DB_USER}
      - POSTGRES_PASSWORD=${CLOUDBEAVER_DB_PASSWORD}
    network_mode: host

  cloudbeaver-dc:
    restart: unless-stopped
    image: ${IMAGE_SOURCE:-dbeaver}/cloudbeaver-dc:${CLOUDBEAVER_VERSION_TAG}
    user: "8978"
    environment:
      - CLOUDBEAVER_KAFKA_BROKERS=127.0.0.1:9092
      - CLOUDBEAVER_DMSVC_URL=http://127.0.0.1:11000
      - CLOUDBEAVER_DC_SERVER_URL=http://127.0.0.1:8970/dc
      - CLOUDBEAVER_RM_SERVER_URL=http://127.0.0.1:8971/rm
      - CLOUDBEAVER_QM_SERVER_URL=http://127.0.0.1:8972/qm
      - CLOUDBEAVER_TM_SERVER_URL=http://127.0.0.1:8973/tm
      - CLOUDBEAVER_DC_BACKEND_DB_URL=${CLOUDBEAVER_DB_URL}
      - CLOUDBEAVER_DC_BACKEND_DB_USER=${CLOUDBEAVER_DB_USER}
      - CLOUDBEAVER_DC_BACKEND_DB_PASSWORD=${CLOUDBEAVER_DB_PASSWORD}
      - CLOUDBEAVER_QM_BACKEND_DB_URL=${CLOUDBEAVER_DB_URL}
      - CLOUDBEAVER_QM_BACKEND_DB_USER=${CLOUDBEAVER_DB_USER}
      - CLOUDBEAVER_QM_BACKEND_DB_PASSWORD=${CLOUDBEAVER_DB_PASSWORD}
      - CLOUDBEAVER_TM_BACKEND_DB_URL=${CLOUDBEAVER_DB_URL}
      - CLOUDBEAVER_TM_BACKEND_DB_USER=${CLOUDBEAVER_DB_USER}
      - CLOUDBEAVER_TM_BACKEND_DB_PASSWORD=${CLOUDBEAVER_DB_PASSWORD}
      - CLOUDBEAVER_QM_BACKEND_DB_DRIVER=${CLOUDBEAVER_DB_DRIVER}
      - CLOUDBEAVER_DC_BACKEND_DB_DRIVER=${CLOUDBEAVER_DB_DRIVER}
      - CLOUDBEAVER_TM_BACKEND_DB_DRIVER=${CLOUDBEAVER_DB_DRIVER}
      - JAVA_TOOL_OPTIONS=${JAVA_TOOL_OPTIONS:-}
    volumes:
      - dc_data:/opt/domain-controller/workspace
      - cert_private:/opt/domain-controller/conf/certificates/
      - cert_public:/opt/domain-controller/conf/certificates/public/
      - ./cert/:/opt/domain-controller/legacy-certs/:ro
      - trusted_cacerts:/opt/domain-controller/conf/certificates/custom/
      - api_tokens:/opt/domain-controller/conf/keys/
    network_mode: host

  cloudbeaver-te:
    restart: unless-stopped
    image: ${IMAGE_SOURCE:-dbeaver}/cloudbeaver-te:${CLOUDBEAVER_VERSION_TAG}
    user: "8978"
    deploy:
      replicas: ${REPLICA_COUNT_TE:-1}
    volumes:
      - cert_public:/opt/cloudbeaver/conf/certificates/
      - trusted_cacerts:/opt/cloudbeaver/conf/certificates/custom/
    environment:
      - CLOUDBEAVER_DC_SERVER_URL=http://127.0.0.1:8970/dc
      - JAVA_TOOL_OPTIONS=${JAVA_TOOL_OPTIONS:-}
    expose:
      - ${CLOUDBEAVER_WEB_SERVER_PORT:-8978}
    depends_on:
      - cloudbeaver-dc
      - cloudbeaver-rm
      - cloudbeaver-qm
    network_mode: host      

  cloudbeaver-rm:
    restart: unless-stopped
    image: ${IMAGE_SOURCE:-dbeaver}/cloudbeaver-rm:${CLOUDBEAVER_VERSION_TAG}
    user: "8978"
    deploy:
      replicas: ${REPLICA_COUNT_RM:-1}
    environment:
      - CLOUDBEAVER_DC_SERVER_URL=http://127.0.0.1:8970/dc
      - JAVA_TOOL_OPTIONS=${JAVA_TOOL_OPTIONS:-}
    volumes:
      - rm_data:/opt/resource-manager/workspace
      - cert_public:/opt/resource-manager/conf/certificates/
      - trusted_cacerts:/opt/resource-manager/conf/certificates/custom/      
    depends_on:
      - cloudbeaver-dc
    network_mode: host

  cloudbeaver-qm:
    restart: unless-stopped
    image: ${IMAGE_SOURCE:-dbeaver}/cloudbeaver-qm:${CLOUDBEAVER_VERSION_TAG}
    user: "8978"
    deploy:
      replicas: ${REPLICA_COUNT_QM:-1}
    environment:
      - CLOUDBEAVER_DC_SERVER_URL=http://127.0.0.1:8970/dc
      - JAVA_TOOL_OPTIONS=${JAVA_TOOL_OPTIONS:-}
    volumes:
      - cert_public:/opt/query-manager/conf/certificates/
      - trusted_cacerts:/opt/query-manager/conf/certificates/custom/
    depends_on:
      - cloudbeaver-dc
    network_mode: host

  cloudbeaver-tm:
    restart: unless-stopped
    image: ${IMAGE_SOURCE:-dbeaver}/cloudbeaver-tm:${CLOUDBEAVER_VERSION_TAG}
    user: "8978"
    deploy:
      replicas: ${REPLICA_COUNT_TM:-1}
    environment:
      - CLOUDBEAVER_DC_SERVER_URL=http://127.0.0.1:8970/dc
      - JAVA_TOOL_OPTIONS=${JAVA_TOOL_OPTIONS:-}
    volumes:
      - tm_data:/opt/task-manager/workspace
      - cert_public:/opt/task-manager/conf/certificates/
      - trusted_cacerts:/opt/task-manager/conf/certificates/custom/
    depends_on:
      - cloudbeaver-dc
    network_mode: host

